<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ToDo List</title>
		<style>
			.completed {
				text-decoration: line-through;
			}			
			.selected {
				color: red;
			}			
			.empty {
				border-color: red;
			}
			[v-cloak] {
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="todo-app" v-cloak>
			<div>
				<span>Todo：</span>
				<input
					type="text" 
					placeholder="add todo..." 
					v-model="newTodoTitle"
					v-focus="true"
					@keyup.enter="addTodo"
					:class="{empty: isEmptyTitle}" />
				<span v-if="isEmptyTitle" style="color: red;">请先输入Todo内容，谢谢！</span>
			</div>
			<!-- todo list -->
			<ul>
				<todo-item v-for="todo in filteredTodos" :todo="todo" :key="todo.id" @remove-todo="removeTodo"></todo-item>
			</ul>
			<!-- 其他 -->
			<div  v-if="todos.length">
				<span v-if="filterType === 'completed'">已完成 {{ completedTodosCount }} 个事项!</span>
				<span v-else-if="filterType === 'removed'">共计删除了 {{ removedTodosCount }} 个事项！</span>
				<span v-else-if="leftTodosCount">剩余 {{ leftTodosCount }} 项未完成！</span>
				<span v-else>全部完成，你真是太棒了！</span>
				<br />
				<span>操作：</span>
				<input type="button" value="全部标为完成" v-if="leftTodosCount" @click="markAllAsCompletedTodo" />
				<input type="button" value="清除已完成" v-if="completedTodosCount" @click="clearCompletedTodos" />
				<input type="button" value="清除全部" @click="clearAllTodos" />
				<input type="button" value="全部还原" v-if="filterType === 'removed' && removedTodosCount" 
					@click="todos.map(todo => todo.removed = false)" />
				<input type="button" value="清空回收站" v-if="filterType === 'removed' && removedTodosCount" 
					@click="todos = todos.filter(todo => !todo.removed)" />
				<br />
				<span>筛选：</span>
				<input type="button" value="全部" :class="{selected: filterType === 'all'}" 
					@click="filterType='all'" />
				<input type="button" value="进行中" v-if="leftTodosCount" :class="{selected: filterType === 'ongoing'}" 
					@click="filterType='ongoing'" />
				<input type="button" value="已完成" v-if="completedTodosCount" :class="{selected: filterType === 'completed'}" 
					@click="filterType='completed'" />				
				<input type="button" value="回收站" v-if="removedTodosCount" :class="{selected: filterType === 'removed'}" 
					@click="filterType = 'removed'" />
			</div>
			<div v-else>添加我的第一个todo!</div>
		</div>
		<!-- JavaScript脚本 -->
		<script src="vue.js" type="text/javascript" charset="UTF-8"></script>
		<!-- todo item 模板 -->
		<script type="text/x-template" id="todo-item-tpl">
			<li>
				<span :class="{completed: todo.completed}" @dblclick="editTodo(todo)">{{ todo.title }}</span>
				<input type="button" value="标为完成" v-if="!todo.completed" @click="todo.completed = true" />
				<input value="标为未完成" type="button" v-else @click="todo.completed = false" />
				<input type="button" value="删除" v-if="!todo.removed" @click="removeTodo(todo)" />
				<input type="button" value="还原" v-else @click="todo.removed = false" />
				<input type="text" value="编辑todo..." 
					v-if="isEditing"
					v-model="todo.title"
					v-focus="true"
					@keyup.enter="editDone(todo)"
					@keyup.esc="cancelEdit(todo)" />
			</li>
		</script>
		<script>
			/*
			  V0.0.5 todo list代码风格优化与todo item组件化
			*/
		   
		   // 注册todo-item组件
		   Vue.component('todo-item', {
			   template: '#todo-item-tpl',
			   data: function(){
				   return {
					   editedTodo: null  // 暂存用户当前编辑的todo
				   }
			   },
			   props: {
				   todo: {  // 父组件通过props向子组件传递数据
					   type: Object,
					   required: true,
				   },
			   },
			   computed: {
				   isEditing(){
					   return this.editedTodo !== null && this.editedTodo.id === this.todo.id
				   }
			   },
			   methods: {
				   // removeTodo(todo){
				   // 	if(confirm('您确定要删除这个todo么？') === true){	
				   // 		todo.removed = true
				   // 	}
				   // },
				   removeTodo(todo){
					   if(confirm('您确定要删除这个todo么？') === true){
						   this.$emit('remove-todo', todo)  // 子组件通过事件向父组件传递消息
					   }
				   },
				   editTodo(todo){
				   	this.editedTodo = {id: todo.id, title: todo.title, completed: todo.completed, removed: todo.removed}
				   },
				   editDone(todo){
				   	this.editedTodo = null
				   	if(!todo.title){
				   		this.removeTodo(todo)
				   	}
				   },
				   cancelEdit(todo){
				   	todo.title = this.editedTodo.title
				   	this.editedTodo = null
				   },
			   },
			   directives: {
				   focus: {
					   inserted(el){
						   el.focus()
					   }
				   }
			   },
		   })
		   
			// 使用浏览器LocalStorage来实现数据的持久化（只要用户不删除缓存即可）
			var STORAGE_KEY = 'todo-list-with-vue2.x'
			var todoStorage = {
				fetch(){
					var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
					todos.forEach(function(todo, index){todo.id = index});
					todoStorage.uid = todos.length
					return todos
				},
				save(todos){
					localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
				}
			}
			
			var app = new Vue({
				el: '#todo-app',
				data: function () {
					return {
						todos: todoStorage.fetch(),
						newTodoTitle: '',
						isCheckEmpty: false,
						filterType: 'all',  // all所有todo（默认，不含已删除的）、ongoing正在进行的todo、completed已完成的todo、removed已删除的todo
					}
				},
				watch: {
					todos: {
						handler(todos){
							todoStorage.save(todos)
						},
						deep: true
					}
				},
				computed: {
					isEmptyTitle(){
						return this.newTodoTitle.length === 0 && this.isCheckEmpty
					},
					leftTodos(){
						return this.todos.filter(todo => !todo.completed && !todo.removed)
					},
					leftTodosCount(){
						if(this.leftTodos.length === 0 && this.filterType === 'ongoing'){
							this.filterType = 'all'
						}
						return this.leftTodos.length
					},
					completedTodos(){
						return this.todos.filter(todo => todo.completed && !todo.removed)
					},
					completedTodosCount(){
						if(this.completedTodos.length === 0 && this.filterType === 'completed'){
							this.filterType = 'all'
						}
						return this.completedTodos.length
					},
					removedTodos(){
						return this.todos.filter(todo => todo.removed)
					},
					removedTodosCount(){
						if(this.removedTodos.length === 0  && this.filterType === 'removed'){
							this.filterType = 'all'
						}
						return this.removedTodos.length
					},
					filteredTodos(){
						if(this.filterType === 'ongoing'){
							return this.leftTodos
						}else if(this.filterType === 'completed'){
							return this.completedTodos
						}else if(this.filterType === 'removed'){
							return this.removedTodos
						}else{
							return this.todos.filter(todo => !todo.removed)
						}
					},
				},
				methods: {
					addTodo(){
						if(this.newTodoTitle.length === 0){
							this.isCheckEmpty = true
							return
						}
						this.isCheckEmpty = false
						this.todos.push({id: todoStorage.uid++, title: this.newTodoTitle, completed: false, removed: false})
						this.newTodoTitle = ''
												
					},
					markAllAsCompletedTodo(){
						this.leftTodos.map(todo => todo.completed = true)
					},
					clearCompletedTodos(){
						if(confirm('您确定要清除已完成的todo么？') === true){
							this.todos.forEach(function(todo){
								if(todo.completed && !todo.removed){
									todo.removed = true
								}
							})
						}
					},
					clearAllTodos(){
						if(confirm('您确定要清除所有的todo么？') === true){
							this.todos.map(todo => todo.removed = true)
						}
					},
					removeTodo(todo){
						todo.removed = true
					}
				},
				directives: {
					focus: {
						inserted(el){
							el.focus()
						},
					},
				},
			})
		</script>
	</body>
</html>